# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Input here all your whitelists per bag. 
# If empty, bag won't be added to the world.
# Use modid:* to whitelist the whole mod.
# For example:
# minecraft:wool/2 will add Magenta wool to the whitelist. 
# minecraft:wool will add every wool type. 
# minecraft:wool/0+1+2 will add damage value 0, 1 and 2.
# Add multiple items by using a comma between items.
##########################################################################################################

# !! MODIFIED !!
general {
	S:"Whitelist Items/Blocks for black bag"=ore:oreIron, ore:oreCoal, ore:oreCopper, ore:oreSilver, ore:oreTin, ore:oreAluminum, ore:oreGold, ore:oreLead, ore:oreLapis, NetherOres:tile.netherores.ore.0, NetherOres:tile.netherores.ore.1, ore:oreCobalt, ore:oreArdite, ore:oreNickel
	S:"Whitelist Items/Blocks for blue bag"=ore:stone, ore:grass, ore:dirt, ore:sand, ore:cobblestone, minecraft:soulsand, minecraft:netherrack, ore:blockObsidian, ore:stoneMossy,
	S:"Whitelist Items/Blocks for brown bag"=ore:plankWood, ore:logWood, ore:slabWood, ore:stairWood, ore:woodRubber,
	S:"Whitelist Items/Blocks for cyan bag"=ore:blockGlass, ore:paneGlass,
	S:"Whitelist Items/Blocks for gray bag"=ore:blockCloth, ore:dye, ore:itemLeather, ore:slabCloth, ore:blockClothRock
	S:"Whitelist Items/Blocks for green bag"=ore:listAllseed, ore:treeSapling, Natura:*, fluxedcrystals:*, harvestcraft:*
	S:"Whitelist Items/Blocks for lightBlue bag"=ore:listAllfruit, ore:listAllveggie,
	S:"Whitelist Items/Blocks for lime bag"=gendustry:*
	S:"Whitelist Items/Blocks for magenta bag"=AWWayofTime:*, Thaumcraft:*, Automagy:*, Sanguinmancy:*
	S:"Whitelist Items/Blocks for orange bag"=Botania:*
	S:"Whitelist Items/Blocks for pink bag"=ExtraBees:*, Extra:Trees:*
	S:"Whitelist Items/Blocks for purple bag"=minecraft:ghast_tear, minecraft:blaze_rod, minecraft:ender_pearl, minecraft:spider_eye, minecraft:fermented_spider_eye, minecraft:blaze_powder, minecraft:nether_wart, minecraft:ender_eye, minecraft:speckled_melon, minecraft:slime_ball
	S:"Whitelist Items/Blocks for red bag"=ore:listAllmeatraw, ore:listAllmeatcooked, ore:listAllfishraw, ore:listAllfishcooked, ore:listAllegg
	S:"Whitelist Items/Blocks for silver bag"=MineFactoryReloaded:*, ThermalExpansion:*,
	S:"Whitelist Items/Blocks for white bag"=TConstruct:*
	S:"Whitelist Items/Blocks for yellow bag"=ore:ingotCopper, ore:ingotIron, ore:ingotGold, ore:ingotTin, ore:ingotLead, ore:ingotAluminum, ore:ingotSilver, ore:ingotNickel, ore:ingotEnderium, ore:ingotPlatinum, ore:ingotArdite, ore:ingotCobalt, ore:ingotMithril, ore:ingotElectrum, ore:ingotInvar,ore:ingotBronze, ore:ingotSignalum, ore:ingotLumium, minecraft:redstone
}