# Configuration file

bloodmagic {
	# Enable Uncharged Nether Star
	B:unchargedNetherStar=true
}

botania {
	# Allow Botania Mystical Flowers to be composted
	B:botaniaComposting=true
}

chisel {
	# Allow Barrels to be chiselled between types
	B:barrelChiselled=true

	# Allow Marble and Limestone stones to be obtained via sifting
	B:chiselBlocksFromSifting=true

	# Allow Sieves to be chiselled between types
	B:sieveChiselled=true
}

exastris {
	# Allow Upgrades for Automatic Sieve/Hammer
	B:allowUpgradesKey=true

	# Allow Automatic Hammerer
	B:autoHammer=true

	# Enable Automatic Sieve
	B:autoSieve=true

	# Base RF/t that is consumed by the Automatic Sieve
	# !! MODIFIED !! [default: 40]
	I:autoSieveEnergy=6

	# %ge that each Fortune Upgrade will increase the chance of a drop to double in the Automatic Sieve. Strictly speaking, the chance of the drops being multiplied X times is binomially distributed, with n=64 trials, and probability of success defined here. A value of 1 gives a 22% chance to triple a drop with 64 Fortune Upgrades.
	# !! MODIFIED !! [default: 1]
	I:autoSieveFortuneChance=3

	# If true, Fortune upgrades will give more of each item.
	B:autoSieveFortuneExtraDrops=true

	# If true, Fortune upgrades will give extra 'chances' to get each item.
	B:autoSieveFortuneExtraRolls=true

	# If false, sieves will not emit particles.
	B:autoSieveParticles=true

	# Amount of RF that each Fortune Upgrade costs
	# !! MODIFIED !! [default: 10]
	I:autoSieveRFIncrease=5

	# Enable EnderIO Recipes
	# !! MODIFIED !! [default: true]
	B:enableEIORecipes=false

	# Allow End Cake to be eaten when full
	B:enableEndCakeToBeEatenWhenFull=true

	# Enable Thermal Expansion/Foundation Recipes
	B:enableTERecipes=true

	# Enable End Cake
	B:endCake=true

	# Base RF/t that is consumed by the Automatic Hammerer
	# !! MODIFIED !! [default: 40]
	I:hammerAutomaticBaseEnergy=6
}

foodplus {
	I:saplingsFromSifting=64
	B:saplingsToBeComposted=true
}

magicbees {
	# Enable Mana Infused Hives
	B:infusedArtificialHive=true
}

metallurgy {
	# Enable Metallurgy Ores from Sifting
	# !! MODIFIED !! [default: true]
	B:metallurgySifting=false
}

minefactoryreloaded {
	# Add MFR items to be composted
	B:MFRCompost=true
}

natura {
	# Allow Natura Saplings to be composted
	B:naturaComposting=true

	# Allow Natura Plants to be obtained via sifting
	B:naturaSifting=true
}

ores {
	I:amber=128
	I:ardite=128
	I:cobalt=128
	I:draconium=25
	I:quicksilver=128
	I:yellorium=128
}

redstonearsenal {
	# Enable RF Crook
	B:fluxCrook=true

	# RF Consumption per block broken for RF Crook when empowered
	# !! MODIFIED !! [default: 1200]
	I:fluxCrookEnergyUsagePowered=120

	# RF Consumption per block broken for RF Crook when unpowered
	# !! MODIFIED !! [default: 400]
	I:fluxCrookEnergyUsageUnpowered=40

	# Enable RF Hammer
	B:fluxHammer=true

	# Enable Freezing Doll
	B:freezingDoll=true
}

rotarycraft {
	# Enable Strongly Compressed Stone
	# !! MODIFIED !! [default: true]
	B:stronglyCompressedStone=false
}

thaumcraft {
	# Enable Thaumcraft Research
	B:research=true

	# Add Thaumcraft Items as heat source for Crucible etc
	B:thaumHeat=true

	# Enable Thaumic Doll
	B:thaumicDoll=true

	# Enable Thaumium Barrel
	B:thaumiumBarrel=true

	# Enable Thaumium Hammer
	B:thaumiumHammer=true
}

thermalexpansion {
	# Add Thermal Expansion Items and Fluids as heat sources for Crucible etc
	B:thermalHeat=true

	# Add Thermal Expansion Hive Recipes
	B:thermalHives=true
}

tinkersconstruct {
	# Add Tinkers Modifiers (Smashing and Crooked
	B:modifiers=true

	# Allow OreBerry bushes to be obtained via sifting
	B:oreberryBushes=true

	# Add Tinkers Items as a heat source for Crucible etc
	B:tinkersHeat=true

	# Add Tinkers Nether Ores from sifter
	B:tinkersOresFromSifting=true
}

tinkerssteelworks {
	# Allow Dusts etc to be melted in the High Oven
	B:steelworksMelting=true
}

witchery {
	B:enableCovenWitch=true
	I:seedsFromSifting=64
}