# Configuration file

general {
	B:"Add player heads as dungeon loot"=true

	# Random.nextInt(X / (fortune+1)) == 0
	I:"Chance of random head drop"=200

	# Setting this to true will cause heads to drop 100% of the time when an entity is killed by a charged creeper
	B:"Enable charged creeper kills"=true

	# Enables recipes to convert from the vanilla player heads to the Headcrumbs' player head ad vice versa
	B:"Enable head conversions"=true

	# Enables tooltips with informations about certain names (mod authors mostly)
	B:"Enable head item tooltips"=true

	# Setting this to false will cause only player heads to show in the creative tab and drop updon death
	B:"Enable mobs and animals heads"=true

	# Setting this to true allow statues to be built (Turning this off won't destroy existing statues)
	B:"Enable player statues"=true

	# Heads will drop randomly when entities or players die
	B:"Heads drop randomly"=true

	# Setting this to true will hide the named player heads from the creative tab and NEI
	# !! MODIFIED !! [default: false]
	B:"Hide player heads from tab"=true

	# The bigger this number the easier it will be to find heads in dungeons.
	# Some heads will be rarer than others.
	# Examples: Diamond is 1, Redstone is 10
	I:"Player heads loot weight"=1

	# modId:name. Whatever block is set here will be the block used to make player statues (2 tall and right-click the top one with a player head)
	S:"Statue block material"=minecraft:clay

	# Vanilla Heads (creeper, skeleton, zombie) will drop randomly when entities die
	B:"Vanilla heads drop randomly"=true
}

heads {
	# Other mods can add usernames using inter-mod communications, turns this config to false will prevent that from happening
	B:"Enable usernames sent by other mods"=true
	S:forgeCraft <
		BigBadComplex
		boni
		Mr_okushama
		AlgorithmX2
		MysteriousAges
		MineMaarten
		nekosune
		tlovetech
		Minalien
		RWTema
		WayofFlowingTime
		TTFTCUTS
		bspkrs
		futureamnet
		azanor
		chicken_bones
		Cloudhunter
		KingLemmingCoFH
		mDiyo
		Myrathi
		Morvelaira
		Pahimar
		sfPlayer1
		ProfMobius
		Sacheverell
		sirsengir
		Soaryn
		x3n0ph0b3
		XCompWiz
		Vswe
		Vazkii
		ZeldoKavira
		neptunepink
		EddieRuckus
	 >
	S:ftb <
		eyamaz
		jadedcat
	 >
	S:hermitcraft <
		Biffa2001
		falsesymmetry
		hypnotizd
		iJevin
		impulseSV
		Jessassin
		joehillssays
		Keralis1
		KingDaddyDMAC
		monkeyfarm
		Mumbo
		Pungence
		skyzm
		sl1pg8r
		Tango
		Tinfoilchef
		topmass
		xBCrafted
		Xisuma
		ZombieCleo
		zueljin
		Etho
	 >
	S:mindCrack <
		adlingtont
		AnderZEL
		Arkas
		Aureylian
		AvidyaZEN
		BdoubleO100
		BlameTC
		Coestar
		Docm77
		Etho
		generikb
		Guude
		Mhykol
		Millbee
		Nebris
		Pakratt0013
		paulsoaresjr
		PauseUnpause
		Pyro_0
		SethBling
		thejims
		sevadus
		Vechs_
		VintageBeef
		W92Baj
		Zisteau
	 >
	S:modders <
		FatherToast
		Erasmus_Crowley
		Nuchaz
		Kobata
		powercrystals
		AbrarSyed
		Taelnia
		skyboy026
		Flaxbeard
		joshiejack
		MatrexsVigil
		ganymedes01
		Pokefenn
		chylex
		Kihira
		Country_Gamer
		jakimfett
	 >
	S:mojang <
		jeb_
		C418
		Dinnerbone
		Grumm
		Searge_DP
	 >
	# !! MODIFIED !! Hey, Jaded Packs staff
	S:others <
		Developaws
		Tecrogue
		Dmf444
		Blade1981m
		Samuelroy21
		MechWarrior99
	 >
	S:technic <
		GenPage
		sct
	 >
	S:youtubers <
		Runew0lf
		CyaNideEPiC
		direwolf20
		Sjin
		Xephos
		Rythian
		Zoeya
		TheStrippin
		Quetzz
		CaptainSparklez
		AntVenom
		CavemanFilms
		BevoLJ
		Sips_
		Honeydew
		TobyTurner
	 >
}

mob {
	B:"Allow celebrity mobs to open doors"=true

	# Chance that a human mob will spawn as a baby. Set to -1 to disable.
	D:"Baby human chance"=0.1
	I:"Dimension Blacklist" <
		1
		-1
	 >

	# Setting this to false will cause Baarbra (or other mobs that VIPs mount) to no longer show up )=
	B:"Disable Baarbra"=true

	# Setting this to false will disable special drops/weapons for certain celebrities. Existing mobs will still hold the weapons they spawned with.
	# !! MODIFIED !! [default: true]
	B:"Enable VIP drops"=false
	B:"Enable celebrity mobs"=true

	# The maximum size of the group of mobs that will spawn at once
	I:"Maximum group size"=4

	# The minimum size of the group of mobs that will spawn at once
	# !! MODIFIED !! [default: 4]
	I:"Minimum group size"=1
	# !! MODIFIED !! [default: 80]
	I:"Mob ID"=89

	# The change the mob will spawn. Base values: zombies, skeletons, spider, creepers = 100, endermen = 10, witches = 5
	# !! MODIFIED !! [default: 80]
	I:"Spawn probability"=25

	# This prefix will be shown in front of celebrities names in-world. Meant to be used to differentiate celebrities from real players.
	# !! MODIFIED !! [default: Blank]
	S:prefix=Cloned
}