# Configuration file

compatibility {
	# If true, automatically adds all unregistered ingots found as clonesof standard yellorium fuel
	B:autoAddUranium=true
}

general {
	B:enableComedy=true
	B:enableMetallurgyFantasyMetalsInTurbines=true
	# !! MODIFIED !! [default: 1.0]
	D:fuelUsageMultiplier=2.0
	# !! MODIFIED !! [default: 48]
	I:maxReactorHeight=16
	# !! MODIFIED !! [default: 32]
	I:maxReactorSize=16
	# !! MODIFIED !! [default: 32]
	I:maxTurbineHeight=16
	I:maxTurbineSize=16
	D:powerProductionMultiplier=1.0
	D:reactorPowerProductionMultiplier=1.0
	B:registerCreativeMultiblockParts=true
	I:ticksPerRedstoneUpdate=20
	D:turbineAeroDragMultiplier=1.0
	D:turbineCoilDragMultiplier=1.0
	D:turbineFluidPerBladeMultiplier=1.0
	D:turbineMassDragMultiplier=1.0
	D:turbinePowerProductionMultiplier=1.0
}

recipes {
	B:enableCyaniteFromYelloriumRecipe=true
	B:enableReactorPowerTapRecipe=true
	B:registerCharcoalForSmelting=true
	B:registerCoalForSmelting=true
	B:registerGraphiteCharcoalCraftingRecipes=false
	# !! MODIFIED !! [default: false]
	B:registerGraphiteCoalCraftingRecipes=true
	B:registerYelloriteSmeltToUranium=true
	B:registerYelloriumAsUranium=true
	# !! MODIFIED !! [default: false]
	B:requireObsidianGlass=true
	# !! MODIFIED !! [default: false]
	B:requireSteelInsteadOfIron=true
}

worldgen {
	B:GenerateYelloriteOre=true
	I:MaxYelloriteClustersPerChunk=5
	I:MaxYelloriteOrePerCluster=10
	I:YelloriteDimensionBlacklist <
	 >
	I:YelloriteMaxY=50
	I:dimensionWhitelist <
	 >
	B:enableWorldGen=true
	B:enableWorldGenInNegativeDims=false
	B:enableWorldRegeneration=false
	I:userWorldGenVersion=0
}