# Configuration file

# !! MODIFIED !! [default: blank]
HarvestLevelNames {
	S:Level0=Stone
	S:Level1=Iron
	S:Level2=Copper
	S:Level3=Bronze
	S:Level4=Gold
	S:Level5=Silver
	S:Level6=Obsidian
	S:Level7=Platinum
	S:Level8=Diamond
	S:Level9=Alumite
	S:Level10=Ardite
	S:Level11=Cobalt
	S:Level12=Manyullyn
}