# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General options.
##########################################################################################################

general {
	# Will show up besides the Forge branding on the main menu. Not affected by "cleanMenu". [default: ]
	S:branding=

	# Cleans up the main menu a bit. [default: false]
	B:cleanMenu=false

	# Removes the log spam about missing textures. [default: true]
	# !! MODIFIED !! [default: true]
	B:cleanUpTextureErrors=false

	# Throws an IllegalArgumentException whenever a biome/potion id conflict is detected. [default: true]
	B:crashOnIdConflicts=true

	# Enables all easter eggs. [default: true]
	# !! MODIFIED !! [default: true]
	B:easterEggs=false

	# Makes the mods crash hard if an exception occurs, instead of catching it. [default: false]
	B:hardCrash=false

	# Sorts the mod list in alphabetical order. [default: true]
	# !! MODIFIED !! [default: true]
	B:sortModList=false

	# Enables the update checker. [default: true]
	# !! MODIFIED !! [default: true]
	B:updateChecker=false
}